p{
    font-family: 'Courier New', Courier, 
    monospace;
    font-size: 25px;
    color: rgb(18, 118, 131);
}
.p{
    font-family: 'Courier New', Courier, 
    monospace;
    font-size: 25px;
    color: rgb(144, 72, 155);
}